<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Bolti nyilvántartó</a>
		</div>
	</div>
</nav>

<div class="form-horizontal col-lg-8 col-lg-offset-2">
    <h1>Boltok</h1>
{{#link-to "new"}}
<button class="btn btn-success">
Új hozzáadása
</button>
{{/link-to}}
<table class="table table-striped">
  {{#each model as |bolt|}}
    <tr><th>{{bolt.nev}}</th>
    <td>{{#link-to "bolt" bolt.id}}
    <div class="col-lg-2">
        <button class="btn btn btn-info pull-left">
	<span class="glyphicon glyphicon-search"></span>
	Megnéz
        </button>
        </div>
        {{/link-to}}
    </td></tr>
  {{/each}}
</table>
</div>

{{outlet}}