<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Bolti nyilvántartó</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="/">Vissza</a></li>
		</ul>
	</div>
</nav>

<div class="form-horizontal col-lg-8 col-lg-offset-2">
<h1>Bolt hozzáadás</h1>
<br>
<h3>Bolt neve:</h3>
{{input class="form-control" value=ujBoltNev}}
<br>
<button class="btn btn-success"
	{{action "addNew"}}>
Létrehoz
</button>
</div>

{{outlet}}